.error404{
  gap: 20px;
  h1{
    font-style: italic;
    font-size: 6.25rem !important;
    margin-top: 60px;
    padding-top: 60px;
  }
  p{
    font-size: 1.25rem;
  }
  .btns{
    margin-bottom: 120px;
  }
}
