.footer{
  .border{
    border-left: 0;
    border-right: 0;
  }
  .grid-4{
    gap: 0;
  }
  a{
    font-size: 0.875rem;
  }
  p{
    font-size: 0.875rem;
  }
  h6{
    margin-bottom: 20px;
  }
  &__box{
    padding: 20px;
    ul a{
      position: relative;
      &:hover{
        &::before{
          left: -10px;
        }
      }
      &::before{
        content: "- ";
        position: absolute;
        top: 2px;
        left: -15px;
      }
    }
  }
  &__social{
    padding: 20px;
    grid-column: span 2;
    border-right: 2px solid $dark;
    border-left: 2px solid $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    #arrow{
      transition: .2s;
    }
    a{
      gap: 10px;
      display: flex;
      align-items: center;
      opacity: 1;
    }
    li{
      margin: auto 0;
      &:hover{
        #arrow{
          transform: translateY(-1.5px) translateX(1.5px);
        }
        a{
          opacity: .7;
          text-decoration: underline;
        }
      }
    }
    .grid-3{
      gap: 20px 40px;
    }
  }
  &__copy{
    &.border{
      border-top: 0px solid $dark;
    }
    p{
      text-align: center;
      padding: 10px 0;
    }
  }
  @include responsive(s){
    #footer-contato{
      display: none;
    }
    &__box{
      text-align: center;
      grid-row: 2;
      ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    &__social{
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid $dark;
      .grid-3{
        grid-template-columns: 1fr 1fr;
      }
    }
    &__copy{
      padding: 0 20px;
    }
  }
}
