.header{
  align-items: center;
  &.container{
    padding: 10px 40px;
  }
  &__nav{
    ul{
      display: flex;
      gap: 20px;
    }
  }
  &__admin{
    padding: 10px 20px;
    background-color: $dark;
    color: $white;
  }
}
