.form{
  &__item{
    display: block;
    margin-bottom: 10px;
  }
  button{
    margin-top: 20px;
  }
  input:checked {
    border: none;
    background-color: tomato;
  }
  .checkbox{
    margin-top: 20px;
    display: flex;
    align-items: center;
    [type="checkbox"]{
      min-width: unset;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}
