.header{
  align-items: center;
  &.container{
    padding: 10px 40px;
  }
  &__nav{
    ul{
      display: flex;
      gap: 40px;
    }
    li{
      @extend .border;
      border-color: $white !important;
      &:hover{
        @extend .border-card;
        border-color: $dark !important;
      }
      a{
        padding: 10px;
        display: block;
      }
    }
    &.active{
      display: block !important;
      position: absolute;
      background-color: $white;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 10;
      height: calc(100vh - 70px);
      padding: 40px;
      animation: descer 1s ease;
      li{
        @extend .btn;
      }
    }
  }
  &__button{
    display: none;
    span{
      font-weight: 700;
      display: block;
    }
  }
  @include responsive(s){
    &.container{
      padding: 10px 20px;
    }
    &__logo{
      svg{
        width: 200px;
        height: 30px;
        margin-left: -20px;
      }
    }
    &__nav{
      display: none;
      ul{
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      li{
        padding: 10px;
        border: 2px solid $dark !important;
      }
    }
    &__button{
      display: block;
    }
  }
}

@keyframes descer {
  from {
    transform: translateY(-1000%);
  }
  to{
    transform: translateY(0);
  }
}
