.container {
	max-width: $container-xl;
	margin: 0 auto;
	// border: 2px solid red;
}

.ul {
	list-style: none;
}

.border {
  border: 2px solid $dark;
}

.border-card{
  border: 2px solid $dark;
  box-shadow: 4px 4px 0px 0px $dark;
}

.border-bottom{
  border-bottom: 2px solid $dark;
}

.bg-pattern{
  background-color: $background;
  background-image: var(--icon-url);
}

.bg-white{
  background-color: $white;
}
