.container{
	max-width: $container-xl;
	margin: 0 auto;
	border: 2px solid red;
  @include responsive(m){
    border: 2px solid greenyellow;
  }
  @include responsive(sm){
    border: 2px solid blue;
  }
  @include responsive(s){
    border: 2px solid tomato;
  }
}

.secao{
  padding: 60px 0;
}

.ul {
	list-style: none;
}

.border {
  border: 2px solid $dark;
}

.border-card{
  border: 2px solid $dark;
  box-shadow: 4px 4px 0px 0px $dark;
}

.border-bottom{
  border-bottom: 2px solid $dark;
}

.bg-pattern{
  background-color: $background;
  background-image: var(--icon-url);
}

.bg-white{
  background-color: $white;
}

.absolute{
  position: absolute;
  top: 0;
  left: 0;
}
