.container {
	max-width: $container-xl;
	margin: 0 auto;
	border: 2px solid red;
}

.ul {
	list-style: none;
}

.border {
  border: 2px solid $dark;
}

.border-card{
  border: 2px solid $dark;
  box-shadow: 3px 3px 0px 0px $dark;
}

.bg-pattern{
  background-color: #F4F0E3;
  background-image: var(--icon-url);
}

.bg-white{
  background-color: $white;
}
