.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: 700;
}

.bold-italic{
  font-weight: 700 !important;
  font-style: italic !important;
}

.txt-error{
  font-weight: 700;
  color: #d00000;
  margin-top: 10px;
  &::before{
    content: "🚩 ";
  }
}
