// MEUS RESETS
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	color: inherit;
	scroll-behavior: smooth;
	line-height: 1;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: 2px solid $dark;
  padding: 10px;
  background-color: $white;
}

img {
	max-width: 100%;
	object-fit: cover;
}

span, input, label, button, li, select{
  font-family: $font-pri;
}

label{
  font-size: 1.25rem;
  display: block;
  margin-bottom: 10px;
}

input, textarea, select{
  font-size: 1rem;
  border-radius: 0;
  border: 2px solid $dark !important;
  padding: .5rem .75rem;
  min-width: 350px;
  &::placeholder{
    color: $grey;
  }
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

// BARRA DE SCROLL
// Chrome // Edge
::-webkit-scrollbar {
  width: 1rem; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: $dark;
}

::-webkit-scrollbar-track {
  border-left: 2px solid $dark;
  background-color: $white;
}

/* Firefox */
::-moz-scrollbar {
  width: 1rem;
}

::-moz-scrollbar-thumb {
  border-left: 2px solid $dark;
  background-color: $white;
}

::-moz-scrollbar-track {
  background-color: $white;
}
