.features {
  &__cards{
    display: flex;
    li{
      padding: 20px;
      gap: 20px;
      border-right: 2px solid $dark;
    }
    span{
      padding: 10px;
      background-color: tomato;
    }
  }
}
