.hero{
  padding: 120px 40px;
  h1{
    font-size: 6.25rem !important;
    font-weight: 400;
    letter-spacing: -9px;
  }
  h2{
    font-weight: 400;
    margin: 20px 0;
    font-size: 1.5rem !important;
    a{
      font-size: 1.5rem;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__tit{
    position: relative;
    .absolute{
      top: -10px;
      left: 20px;
      width: 40px;
    }
  }
  .btns{
    margin-top: 20px;
  }
  &__txt{
    p{
      width: 70%;
    }
  }
  &__img {
    position: relative;
    img{
      width: 100%;
    }
    .absolute{
      margin-top: -40px;
      left: 80%;
      width: 120px;
    }
  }
  @include responsive(m){
    h1{
      font-size: 4.5rem !important;
    }
    &__img {
      .absolute{
        left: 70%;
      }
    }
  }
  @include responsive(s){
    padding: 120px 20px;
    h1{
      font-size: 3rem !important;
    }
    h2{
      margin: 20px 0;
      font-size: 1.25rem !important;
    }
    .btns{
      margin: 40px 0;
    }
    &__txt{
      p{
        width: 100%;
        line-height: 140%;
      }
    }
    &__img {
      .absolute{
        left: 60%;
      }
    }
  }
}
