.projects{
  .container{
    padding: 140px 40px;
  }
  nav{
    margin: 40px 0;
  }
  h2{
    text-align: center;
    margin-bottom: 80px;
  }
  &__item{
    padding: 40px;
  }
  &__list{
    gap: 80px;
  }
  &__txt{
    align-items: flex-start;
    .subtit{
      color: $color-pri;
    }
    h5{
      font-size: 3rem !important;
      margin: 10px 0;
    }
    h6{
      font-size: 1.25rem !important;
      margin-bottom: 10px;
    }
  }
  &__icons{
    margin-top: 40px;
    margin: 40px 0 20px 0;
    p{
      font-size: .875rem;
    }
    span{
      font-size: 2.5rem !important;
      color: $color-pri;
    }
  }
  .btn{
    display: block;
  }
  @include responsive(s){
    .container{
      padding: 80px 20px;
    }
  }
}
