.admin{
  min-height: 600px;
  .secao{
    padding: 20px;
  }
  &__nav{
    padding: 40px 0 10px 0;
    margin: 0 20px;
    ul{
      display: flex;
      gap: 40px;
    }
    .active{
      font-weight: 700;
    }
  }

  &__item{
    padding: 20px 10px 20px 0;
    align-items: center;
    .btn{
      background-color: $white;
      padding: 5px;
    }
    button{
      padding: 5px;
    }
    &-buttons{
      display: flex;
      gap: 20px;
    }
    &-tag{
      display: inline-block;
      background-color: $white;
      padding: 5px;
      text-transform: uppercase;
      font-weight: 700;
      @extend .border;
    }
    &-depo{
      display: flex;
      align-items: center;
      gap: 20px;
      p{
        font-weight: 700;
        font-size: 1.25rem;
      }
      span{
        font-weight: 400;
        font-size: 1rem;
      }
      img{
        width: 70px;
        height: 70px;
        border-radius: 70px;
      }
    }
  }

  &__form{
    max-width: 500px;
    margin: 0 auto;
    .btn-close{
      margin-bottom: 10px;
      display: inline-block;
    }
    .btns{
      justify-content: flex-end;
    }
    label{
      margin-top: 10px;
    }
    button{
      display: block;
      font-size: 1.125rem !important;
      margin: 20px 0;
    }
    input, textarea, button, select{
      width: 500px;
      max-width: 500px;
    }
  }

  &__content{
    .ul{
      display: none;
      &.active{
        display: block;
      }
    }

  }
  @include responsive(m){
    padding: 0 20px;
  }
}
